body{
    --main-color:#222221;
    --second-color: #18a83d;
    
    --navbar-link: white;
    --navbar-link-hover: var(--second-color);

    --footer-link: var(--navbar-link);

    --tran: 0.5s;
}
body.light{
    --second-color: #2F8D46;

    --navbar-link: #343A40;
    --navbar-link-hover: var(--second-color);

    --footer-link: var(--navbar-link);
}   