body{
    margin: 0;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 100;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
    align-items: center;    
}

nav li {
float: left;
}
#right-link{
    float:right;
}

nav li a,
nav li i{
    display: block;
    position: relative;
    color:  var(--navbar-link);
    font-size: 19px;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
}
nav li i{
    top: 4px;
}
nav li a{
    letter-spacing: 0.5px;
}
nav li a.first{
    margin-left: 15px;
}
/*   Navbar line */
div.left-link li a:after{
    content: "";
    position: absolute;
    background-color: var(--second-color);
    width: 0%;
    height: 3px;
    bottom: 0px;
    left: 0;
    transition: var(--tran);
}
div.left-link li a:hover:after{
    width: 100%;
}
div.left-link li a.active::after{
    width: 100%;
}
/*   Download    */
li.down a{
    color: white;
    border-radius: 7px;
    position: relative;
    top: 12px;
    right: 20px;
    margin-left: 23px;
    padding: 10px 12px;
    color: var(--second-color);
    transition: var(--tran);
    border: 1.5px solid var(--second-color);
}
li.down a:hover{
    background-color: var(--second-color);
    color: white;
}

/*      Color Mode Icon     */
.colorMode{
    cursor: pointer;
}
li.colorMode div.close,
li.colorMode.active div.open{
    display: inline;
}
li.colorMode div.open,
li.colorMode.active div.close{
    display: inline;
}