body{
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar-BG);
    transition: 0.25;
    align-items: center;
}

nav li {
float: left;
}
#right-link{
    float:right;
}

nav li a,
nav li i{
display: block;
position: relative;
color:  var(--navbar-link);
text-align: center;
padding: 17px 16px;
text-decoration: none;
}
nav li i{
    top: 4px;
}
nav li a{
    letter-spacing: 0.5px;
}
nav li a.first{
    margin-left: 15px;
}
/*   Navbar line */
div.left-link li a:after{
    content: "";
    position: absolute;
    background-color: var(--navbar-link-left);
    width: 0%;
    height: 3px;
    bottom: 0px;
    left: 0;
    transition: var(--tran);
}
div.left-link li a:hover:after{
    width: 100%;
}
div.left-link li a.active::after{
    width: 100%;
}
/*   Download    */
li.down a{
    color: white;
    border-radius: 7px;
    position: relative;
    top: 6.75px;
    right: 20px;
    margin-left: 23px;
    padding: 10px 12px;
    color: var(--navbar-link-left);
    transition: var(--tran);
    border: 1.5px solid var(--navbar-link-left);
}
li.down a:hover{
    background-color: var(--navbar-link-left);
    color: white;
}

/*      Color Mode Icon     */
.colorMode{
    cursor: pointer;
}
li.colorMode div.close,
li.colorMode.active div.open{
    display: inline;
}
li.colorMode div.open,
li.colorMode.active div.close{
    display: inline;
}