@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}

#top-info {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 1;
}

#top-info h1, #top-info h3 {
    color: #f1f1f1;
}

#top-info h1 {
    font-size: 3em;
    font-weight: 800;
}

#top-info h3 {
    font-size: 1.8em;
}

#play-btn {
    position: absolute;
    background-color: transparent;
    border: 1.5px solid #f1f1f1;
    border-radius: 6px;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 800;
    top: 500px;
    left: 100px;
    text-align: center;
    width: 22%;
    height: 10%;
    z-index: 1;
    transition: 0.25s;
}

#play-btn:hover {
    color: #202020;
    background-color: #f1f1f1;
}

#top-photo {
    width: 100%;
    filter: blur(2px);
    margin-top: 0;
}

.left-photo-right-text {
    margin-top: 150px;
    margin-bottom: 150px;
}

.left-text-right-photo {
    margin-top: 150px;
    margin-bottom: 150px;
}

.left-photo {
    width: 600px;
    height: 350px;
    margin-left: 100px;
    border-radius: 5px;
}

.right-text {
    width: 600px;
    height: 350px;
    position: relative;
    margin-left: 920px;
    margin-top: -22%;
}

.right-photo {
    width: 600px;
    height: 350px;
    margin-left: 900px;
    margin-top: -30%;
    border-radius: 5px;
}

.left-text {
    width: 600px;
    height: 350px;
    position: relative;
    margin-left: 120px;
}

.left-text h1 {
    position: absolute;
    color: #ffffff;
    font-size: 46px;
    top: 5%;
}

.right-text h1 {
    position: absolute;
    color: #ffffff;
    font-size: 46px;
    top: -5%;
}

.left-text h3 {
    position: absolute;
    top: 28%;
    line-height: 2;
    color: #e7e7e7;
    font-size: 22px;
    font-weight: 600;
}

.right-text h3 {
    position: absolute;
    top: 20%;
    line-height: 2;
    color: #e7e7e7;
    font-size: 22px;
    font-weight: 600;
}

.container{
    max-width: 1170px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: var(--main-color); 
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: var(--navbar-link);
    text-transform: capitalize;
    margin-bottom: 35px;   
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--second-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: var(--footer-link);;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    padding-left: 8px;
    font-weight: 600;
}
/*subject to adjustment*/
.footer-col .pegi{
    margin-left: 1150px;
    margin-top: -190px;
}

/* Responsive design */

@media screen and (min-width: 500px) and (max-width: 900px) {

    #top-info {
        top: 250px;
    }

    #play-btn {
        border: 2.5px solid #f1f1f1;
        font-size: 1.5em;
        top: 600px;
        width: 30%;
        height: 9%;
    }

    #top-photo {
        width: 185%;
    }

    .left-photo-right-text {
        margin-left: 44%;
        margin-bottom: 60%;
    }

    .left-text-right-photo {
        margin-left: 44%;
        margin-bottom: 60%;
    }

    .left-photo {
        margin-left: 100px;
    }

    .right-text {
        margin-left: 120px;
        margin-top: 5%;
    }

    .right-photo {
        margin-left: 100px;
        margin-top: -200%;
    }

    .left-text {
        margin-left: 120px;
        margin-bottom: -80%;
    }

    .left-text h3 {
        font-size: 24px;
    }

    .right-text h3 {
        font-size: 24px;
    }

    .footer {
        width: 185%;
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;

    }
    .footer-col h4{
        font-size: 18px;
        color: var(--navbar-link);
        text-transform: capitalize;
        margin-bottom: 35px;   
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: var(--second-color);
        height: 2px;
        box-sizing: border-box;
        width: 50px;

    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 15px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: var(--footer-link);
        display: block;
        transition: all 0.3s ease;

    }
    .footer-col ul li a:hover{
        padding-left: 8px;
        font-weight: 600;
    }
    /*subject to adjustment*/
    .footer-col .pegi{
        margin-left: 1150px;
        margin-top: -190px;
    }
}